target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### CSV ###
*.csv
src/main/resources/ftps/local
src/main/resources/ftps/remote

### PEM certificate ###
/src/main/resources/ftps/certs/client.key
/src/main/resources/ftps/certs/domain.crt
/src/main/resources/ftps/certs/domain.csr
/src/main/resources/ftps/certs/domain.jks
/src/main/resources/ftps/certs/domain.key
/src/main/resources/ftps/certs/domain.pem
/src/main/resources/ftps/certs/domain.pfx
/src/main/resources/ftps/certs/rootCA.crt
/src/main/resources/ftps/certs/rootCA.key
/src/main/resources/ftps/certs/rootCA.srl
